@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply rounded-md;
  }
  @media (hover: hover) {
    .btn {
      @apply duration-100;

      &:active {
        @apply scale-95;
      }
    }
  }

  @media (hover: none) {
    .btn {
      @apply duration-0;
    }
  }

  .btn-primary {
    @apply bg-yellow-500 text-white;
  }
  @media (hover: hover) {
    .btn-primary {
      &:hover {
        @apply bg-yellow-600;
      }
    }
  }

  @media (hover: none) {
    .btn-primary:active {
      @apply bg-yellow-600;
    }
  }
  .btn-primary.btn-loading {
    @apply bg-yellow-600;
  }

  .btn-secondary {
    @apply bg-blue-400 text-white;
  }
  @media (hover: hover) {
    .btn-secondary {
      &:hover {
        @apply bg-blue-500;
      }
    }
  }

  @media (hover: none) {
    .btn-secondary:active {
      @apply bg-blue-500;
    }
  }
  .btn-secondary.btn-loading {
    @apply bg-blue-500;
  }

  .btn-error {
    @apply bg-red-500 text-white;
  }
  @media (hover: hover) {
    .btn-error {
      &:hover {
        @apply bg-red-600;
      }
    }
  }

  @media (hover: none) {
    .btn-error:active {
      @apply bg-red-600;
    }
  }
  .btn-error.btn-loading {
    @apply bg-red-600;
  }

  .btn-success {
    @apply bg-green-500 text-white;
  }
  @media (hover: hover) {
    .btn-success {
      &:hover {
        @apply bg-green-600;
      }
    }
  }

  @media (hover: none) {
    .btn-success:active {
      @apply bg-green-600;
    }
  }
  .btn-success.btn-loading {
    @apply bg-green-600;
  }

  .skeleton {
    animation: skeleton infinite 1.8s;
    background-image: linear-gradient(
      90deg,
      transparent 0%,
      transparent 40%,
      rgb(255, 255, 255, 0.85),
      transparent 60%,
      transparent 100%
    );
    will-change: background-position;
    background-size: 200% auto;
    background-repeat: no-repeat;
    background-position-x: -50%;
    background-color: black;
  }
}
